.header {
  position: fixed; /* закрепляет хедер на экране */
  top: 0; /* прикрепляем к верху */
  left: 0; /* начинаем с левой границы */
  width: 100%; /* хедер растягивается на всю ширину окна */
  z-index: 1000; /* чтобы хедер был поверх контента */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white; /* или другой фон, чтобы текст был читаем */
  margin: 0; /* margin убираем, т.к. position: fixed */
  height: 150px;
  padding: 0 100px;
  .header__left {
    font-size: 25px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    font-weight: bold;

    a {
      text-decoration: none; /* убирает подчёркивание */
      cursor: pointer; /* добавляет привычный курсор */
      display: inline-block; /* теперь можно точно управлять высотой */
      color: var(--link-color);
      line-height: normal;
      vertical-align: middle;
      position: relative;
      top: -3px;
      font-family: normal;
      &:hover {
        color: var(--hover-color);
      }
    }
    /* a:focus,
    a:active,
    a:visited {
      color: darkslategrey; 
      text-decoration: none;
    } */
  }
  .header__center {
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    font-family: normal;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  img {
    background: none;
    height: 180px;
    width: 180px;
    padding: 20px;
  }
}
.h2__title {
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
  font-family: normal;
  padding-top: 230px;
}
.work__title {
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
}
.pictures_eyes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  img {
    height: 300px;
    width: 300px;
    object-fit: cover;
  }
}
.about {
  padding: var(--web-padding);
  .section__title1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
  }
}
.all__in__footer {
  padding: var(--web-padding);
  text-align: center;
  .section__title2 {
    margin: 50px 0 50px 0;
  }
}
@media (max-width: 1200px) {
  .about {
    padding: 0 100px;
  }
}
