.header {
  position: fixed; /* закрепляет хедер на экране */
  top: 0; /* прикрепляем к верху */
  left: 0; /* начинаем с левой границы */
  width: 100%; /* хедер растягивается на всю ширину окна */
  z-index: 1000; /* чтобы хедер был поверх контента */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white; /* или другой фон, чтобы текст был читаем */
  margin: 0; /* margin убираем, т.к. position: fixed */
  min-height: 150px;
  padding: 0 100px;
  .header__left {
    font-size: 25px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    font-weight: bold;

    a {
      text-decoration: none; /* убирает подчёркивание */
      cursor: pointer; /* добавляет привычный курсор */
      display: inline-block; /* теперь можно точно управлять высотой */
      color: var(--link-color);
      line-height: normal;
      vertical-align: middle;
      position: relative;
      top: -3px;
      font-family: normal;
      &:hover {
        color: var(--hover-color);
      }
    }
  }
  .header__center {
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    font-family: normal;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .header__right {
    .img__logo {
      max-height: 120px;
      max-width: 120px;
      border-radius: 15px; /* скругление углов */
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      padding: 0;
      // margin: 20px;
    }
  }
  img {
    background: none;
    height: 180px;
    width: 180px;
    padding: 0px;
  }
}

.h2__title {
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
  font-family: normal;
  padding-top: 230px;
}
.work__title {
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
}
.pictures_eyes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  img {
    height: 300px;
    width: 300px;
    object-fit: cover;
  }
}
.about {
  .section__title1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 100px 0 100px;
  }
}
.all__in__footer {
  .section__title2 {
    padding: 30px 100px 30px 100px;
  }
}
@media (max-width: 300px) {
  a {
    display: none;
  }
}
@media (max-width: 500px) {
  .header {
    justify-content: center;
    .header__right {
      .img__logo {
        display: relative;
        z-index: 1000;
        justify-content: center;
        align-items: center;
        max-width: 100px;
        max-height: 100px;
      }
    }
    .header__center {
      display: none;
    }
    .header__left {
      a {
        display: none;
      }
    }
  }
}
@media (max-width: 768px) {
  .header {
    padding: 0 20px;
  }
}
.all__in__footer {
  text-align: center;
}
@media (max-width: 1200px) {
  .about {
    // padding: 0 100px;
  }
}
@media (max-width: 768px) {
  .about {
    .section__title1 {
      padding: 30px 10px 0 10px;
      font-size: 18px;
    }
  }
}
@media (max-width: 375px) {
  .about {
    .section__title1 {
      padding: 30px 10px 0 10px;
      font-size: 12px;
    }
  }
}
@media (max-width: 768px) {
  .all__in__footer {
    padding: 50px 0 50px 0;
    .section__title2 {
      font-size: 18px;
      padding: 0 10px;
    }
  }
}
@media (max-width: 375px) {
  .all__in__footer {
    padding: 20px 0 20px 0;
    .section__title2 {
      font-size: 12px;
      padding: 0 10px;
    }
  }
}
// h2,
// p {
//   word-wrap: break-word;
//   overflow-wrap: break-word;
// }
